*{
	margin:0;
	padding: 0; 
	box-sizing: border-box;
}

body{
	background-color:#D0D3D4 ;
	background-image: url("hardrive.jpg");
	margin:auto;
	color: white;
	width:80%;
}

.imgs{
	column-count: 2;
}

img{
	width: 90%;
}

/*Navigation styles*/nav{
background-color: #D40000;
}
nav ul{
	list-style: none;
}
nav li {
	display: inline;
}
nav a{
	display: inline-block;
	padding: 20px;
	color:black;
	text-decoration: none;
}

nav a:hover {
	background-color:black ;
	color: white;
}